@model IEnumerable<Website.Models.procedure>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Long Name
            </th>
            <th>
                Short Name
            </th>
            <th>
                Video Link
            </th>
            <th>
                Description
            </th>
            <th>
                User Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ProcedureID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProcedureID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $.ajax({
            url: "@Url.Action("IndexJson","Procedure")",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: true,

            success: function (data) {
            },
            error: function (error) {
                alert("AJAX ERROR: " + error.status)
            }
        });
    </script> 
}
